.file-table-header {
  padding: 2vh 0.5vw;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

.file-table-header button {
  height: 5vh;
  font-size: 1.2rem;
}

.file-table-actions {
  padding: 0.25vh 0.5vw;
}

.sensor-graph-button {
  background-color: #22d3ee;
  color: black;
}

.file-table-wrapper {
  width: 80vw;
}

.file-table-wrapper .p-datatable-tbody td,
.file-table-wrapper .p-datatable-thead th {
  border: 1px solid #424b57;
}
